.picture-border{
    border-radius: 50%;
    margin: 20px;
    height:250px;
    width: 250px;
}

.background{
    background-color: #33e8af;
}

.name-content{
    padding: 10px;
    margin: 18px;
    color: #ffffff;
    border-radius: 20px;
}

.information-content{
    
    padding: 7px;
    margin: 18px;
    border-radius: 25px;
    

}

.picAndNameAlign{
    width:80%;
}

.btnAlignment{
    margin: 25px;
}

.project{
    color: whitesmoke;
}

.project:hover{
    color: #aaa;
}

.studyInfo{
    color: whitesmoke;
    padding: 7px;
    margin: 10px;
}

.content-display{
    animation: 2s contDisplay forwards;
}

@keyframes contDisplay {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

table{
    width: 100%
}

.whiteIcon{
    color:whitesmoke;
}

.changeColor{
    color: yellowgreen;
}

.changeColor:hover{
    color: darkgreen;
}

#particles-js{
    background:#3a1682;
    height: 100%;
}